@using UrlShortenerClient.Models
@model ShortenedUrlCreateDto

@{
    ViewData["Title"] = "Home Page";
    var pagination = ViewData["pagination"] as Dictionary<string, string>;
}

<div class="row">
    <div class="container-fluid">
        <br/>
        <h1>Simplify your links</h1>
        @using (Html.BeginForm("ShortenURL", "Home", FormMethod.Post, true))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <div class="form-group">
                    <b>@Html.ValidationSummary(true, string.Empty, new {@class = "text-danger"})</b>
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.Url, "", new {@class = "text-danger"})
                    @Html.TextBoxFor(model => model.Url, new {@class = "form-control", placeholder = "Your original URL here"})
                </div>

                <div class="form-group">
                    <input class="form-control text-uppercase btn btn-primary" type="submit" value="Shorten URL"/>
                </div>
            </fieldset>
        }
    </div>
</div>
<hr/>
<div class="row">
    <div class="panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Shortened URLs</h1>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Original Url</th>
                <th>Short Url</th>
                <th>Created</th>
                <th>Clicks</th>
                <th>Last Visit</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in (List<ShortenedUrlDto>)ViewData["shUrlList"])
            {
                <tr>
                    <td><a href="@item.Url">@item.Url</a></td>
                    <td><a href="@item.ShortenedUrl">@item.ShortenedUrl</a></td>
                    <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Clicks)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastVisit)</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="panel-footer">
            @{
                var To = int.Parse(pagination["currentPage"]) * int.Parse(pagination["pageSize"]);
                var From =  To - (int.Parse(pagination["pageSize"]) - 1);
                }
            
            <h4 class="text-primary text-left">@From - @To of @pagination["totalCount"] &nbsp; 
                @Html.ActionLink("❮", "Index", new { pageNumber = pagination["previousPage"] ?? "#" }) &nbsp;
                @Html.ActionLink("❯", "Index", new { pageNumber = pagination["nextPage"] ?? "#" })
            </h4>
        </div>
    </div>
</div>

<br/>

<div class="row">
    
</div>